<a href="https://colab.research.google.com/github/AsairiNava/Codewars-solutions/blob/main/8_kyu_Twice_as_old.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Your function takes two arguments:

current father's age (years)
current age of his son (years)
Ð¡alculate how many years ago the father was twice as old as his son (or in how many years he will be twice as old).

In [ ]:
def twice_as_old(dad_years_old, son_years_old):
    return abs(dad_years_old - (son_years_old*2))